h1 {
    color: crimson;
}
img {
    width: 400px;
    height: 250px;
}

#thirdDiv {
    height: 600px; 
    width: 500px;
    background-color: darkcyan;
    padding: 50px;
    border: 5px;
    border: solid;
    border-color: darkred;
}
#spanId {
font-size: 25px;
margin: 50px;
}